nav {
    background-color: #87f56c; color: #fff;
    padding: 10px;
}
nav a {
    color: #fff;
    text-decoration: none; padding: 10px 20px;
}
nav .active, nav a:hover {
    background-color: #0b256b;
}
    /* ID Selector */
#intro {
    background-color: #418fb1; border: 1px solid #099249; min-height: 100px; padding: 10px;
}
#intro h1 {
    text-align: left; border: 0px;
    color: #fff;
}

    /* Class Selector*/
    .button {
        padding: 15px 20px; background: #bebcbd; color: #fff;
        display: inline-block; margin: 10px;
        text-decoration: none;
    }
    .btn-primary { background: #E42A42;
    }